.cart-total-page {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.checkout-form h3 {
    color: #1e1e1e;
    margin-bottom: 75px;
    padding-bottom: 14px;
    border-bottom: 2px solid #D0D7DB;
}

.checkout-form .in-name {
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    margin: 0;
    margin-top: 18px;
}

.checkout-form input[type=text] {
    width: 100%;
    border: 0;
    padding-bottom: 12px;
    border-bottom: 2px solid #E7EBED;
    color: #838383;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 32px;
    font-size: 16px;
}

.checkout-form .cart-select {
    margin-bottom: 35px;
}

.checkout-form .cart-select.country-usa {
    font-size: 16px;
    font-weight: 500;
}

.checkout-form .nice-select {
    border-radius: 0;
    border: none;
    font-size: 12px;
    color: #838383;
    height: 37px;
    width: 100%;
    border-bottom: 2px solid #E7EBED;
}

.checkout-form .nice-select:after {
    display: none;
}

.checkout-form .nice-select .list {
    margin-top: 3px;
    width: 100%;
    border-radius: 0;
}

.checkout-form .nice-select .option {
    color: #1e1e1e;
    font-weight: 600;
    font-size: 14px;
}

.checkout-form .diff-addr {
    margin-top: 12px;
}

.checkout-form .diff-addr input {
    width: auto;
    border: 0;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.checkout-form .diff-addr input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.checkout-form .diff-addr label {
    color: #838383;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    padding-left: 26px;
    position: relative;
}

.checkout-form .diff-addr label.active:after {
    border-color: #1e1e1e;
}

.checkout-form .diff-addr label:after {
    position: absolute;
    left: 0;
    top: 1px;
    height: 15px;
    width: 15px;
    border: 2px solid #D0D7DB;
    border-radius: 50%;
    content: "";
}

.formArea{
    height: 350px;
}
.prevImg{
    height: 150px;
    width: 100px;
    display: block;
}

.form-actions{
    text-align: right;
}