body{
    background:#eee;
}
.content{
    padding-top: 20px;
    padding-bottom: 50px;
}
.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    color: pink;
}

.chat-list .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #5a99ee;
}

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
}

.chat-list .out .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fc6d4c;
}

.card .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
}
.card .card-header {
    background: #17202b;
    border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    position: relative;
    font-weight: 600;
    color: #ffffff;
}

.card-header span{
    color: #fff;
    float: right;
}

.content{
    margin-top:40px;
}
.listBtn{
    float: right;
}
.replyBtn{
    float: right;
    margin-right: 15px;
}





/*.contact-section {*/
/*    padding-top: 80px;*/
/*    padding-bottom: 94px;*/
/*}*/

/*.input-group-text{*/
/*    width: 100%;*/
/*    font-size: 106px;*/
/*    font-weight: 600;*/
/*    color: #838383;*/
/*    border: 0;*/
/*    padding-bottom: 14px;*/
/*    border-bottom: 2px solid #E7EBED;*/
/*    margin-bottom: 25px;*/
/*}*/
/*.contact-form .form-control {*/
/*    width: 100%;*/
/*    font-size: 16px;*/
/*    font-weight: 600;*/
/*    color: #838383;*/
/*    border: 0;*/
/*    padding-bottom: 14px;*/
/*    border-bottom: 2px solid #E7EBED;*/
/*    margin-bottom: 25px;*/
/*}*/

/*.contact-form textarea {*/
/*    width: 100%;*/
/*    border-bottom: 2px solid #E7EBED;*/
/*    font-size: 12px;*/
/*    font-weight: 600;*/
/*    color: #838383;*/
/*    border-left: 0;*/
/*    height: 215px;*/
/*    border-right: 0;*/
/*    border-top: 0;*/
/*    resize: none;*/
/*    margin-bottom: 40px;*/
/*}*/

/*.contact-form .formBtn {*/
/*    color: #1e1e1e;*/
/*    background: transparent;*/
/*    border: none;*/
/*    font-size: 16px;*/
/*    font-weight: 600;*/
/*    padding: 16px 50px;*/
/*    border: 2px solid #1e1e1e;*/
/*    border-radius: 50px;*/
/*    cursor: pointer;*/
/*    float: right;*/
/*    text-transform: uppercase;*/
/*}*/

/*.contact-widget .cw-item {*/
/*    margin-bottom: 50px;*/
/*}*/

/*.contact-widget .cw-item h5 {*/
/*    color: #1e1e1e;*/
/*    font-weight: 600;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.contact-widget .cw-item ul li {*/
/*    color: #838383;*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    list-style: none;*/
/*    line-height: 28px;*/
/*}*/