.carousel-inner{
    height: 100%;
}
.carousel-item img {
    height: 700px;
    /*position: absolute;*/
    object-fit:cover;
    top: 0;
    left: 0;
}
.carousel-caption h3{
    color: black;
    font-size: 90px;
    font-weight: 300;
}
.carousel-caption p{
    color: black;
    font-size: 96px;
    font-weight: 800;
    padding-bottom: 150px;
}